In [1]:
import pandas as pd
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Load your dataset (replace 'your_data.csv' with your actual file path)
df = pd.read_csv('all_seasons.csv')

In [2]:
df.isnull().sum()

Unnamed: 0              0
player_name             0
team_abbreviation       0
age                     0
player_height           0
player_weight           0
college              1854
country                 0
draft_year              0
draft_round             0
draft_number            0
gp                      0
pts                     0
reb                     0
ast                     0
net_rating              0
oreb_pct                0
dreb_pct                0
usg_pct                 0
ts_pct                  0
ast_pct                 0
season                  0
dtype: int64

In [3]:

df['draft_round'] = df['draft_round'].replace('Undrafted', np.nan)
df['draft_number'] = df['draft_number'].replace('Undrafted', np.nan)

In [4]:
df.isnull().sum()

Unnamed: 0              0
player_name             0
team_abbreviation       0
age                     0
player_height           0
player_weight           0
college              1854
country                 0
draft_year              0
draft_round          2411
draft_number         2414
gp                      0
pts                     0
reb                     0
ast                     0
net_rating              0
oreb_pct                0
dreb_pct                0
usg_pct                 0
ts_pct                  0
ast_pct                 0
season                  0
dtype: int64

In [5]:
df=df.dropna()

In [6]:
df.isnull().sum()

Unnamed: 0           0
player_name          0
team_abbreviation    0
age                  0
player_height        0
player_weight        0
college              0
country              0
draft_year           0
draft_round          0
draft_number         0
gp                   0
pts                  0
reb                  0
ast                  0
net_rating           0
oreb_pct             0
dreb_pct             0
usg_pct              0
ts_pct               0
ast_pct              0
season               0
dtype: int64

In [7]:
df.head()

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,3.9,1.5,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,3.8,1.3,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,8.3,6.4,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,10.2,2.8,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,2.8,1.7,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97

In [8]:
df.describe()

,Unnamed: 0,age,player_height,player_weight,gp,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct
count,8819.000000,8819.000000,8819.000000,8819.000000,8819.000000,8819.000000,8819.000000,8819.000000,8819.000000,8819.000000,8819.000000,8819.000000,8819.000000,8819.000000
mean,6114.355596,27.233813,200.423769,100.525893,54.143327,8.884488,3.739562,1.972242,-1.954779,0.053990,0.140450,0.187274,0.517250,0.134003
std,3747.337980,4.462844,8.728448,12.111359,23.699939,6.127027,2.439490,1.892057,10.416278,0.041343,0.058519,0.051227,0.089842,0.093361
min,0.000000,19.000000,160.020000,60.327736,1.000000,0.000000,0.000000,0.000000,-250.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2764.000000,24.000000,193.040000,91.171992,38.000000,4.100000,2.000000,0.600000,-6.000000,0.022000,0.097000,0.152000,0.486000,0.068000
50%,6034.000000,27.000000,200.660000,99.790240,60.000000,7.500000,3.200000,1.300000,-1.200000,0.041000,0.131000,0.184000,0.526000,0.106000
75%,9295.000000,30.000000,205.740000,108.862080,75.000000,12.300000,4.900000,2.650000,3.100000,0.082000,0.178000,0.219000,0.562000,0.180000
max,12842.000000,44.000000,228.600000,155.582056,85.000000,36.100000,16.300000,11.700000,114.300000,0.600000,0.714000,0.414000,1.500000,1.000000

In [9]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import pandas as pd

# Select features related to player performance
features = df[['pts', 'reb', 'ast', 'net_rating', 'usg_pct', 'ts_pct']]

# Step 1: Standardize all features
scaler = StandardScaler()
scaled_features = scaler.fit_transform(features)
scaled_df = pd.DataFrame(scaled_features, columns=features.columns)

# Step 2: Apply Min-Max scaling to all features with range -1 to 1
min_max_scaler = MinMaxScaler(feature_range=(-1, 1))
all_features_scaled = min_max_scaler.fit_transform(scaled_df)

# Convert back to DataFrame
scaled_df = pd.DataFrame(all_features_scaled, columns=features.columns)

scaled_df.head()

        pts       reb       ast  net_rating   usg_pct    ts_pct
0 -0.783934 -0.815951 -0.589744    0.374142 -0.183575 -0.350667
1 -0.789474 -0.840491 -0.948718    0.421356 -0.159420 -0.337333
2 -0.540166 -0.214724 -0.675214    0.327477 -0.154589 -0.317333
3 -0.434903 -0.656442 -0.709402    0.357672 -0.004831 -0.297333
4 -0.844875 -0.791411 -0.948718    0.295086 -0.057971 -0.333333

In [10]:
# Step 2: Apply K-Means Clustering
kmeans = KMeans(n_clusters=4, random_state=42)
df['cluster'] = kmeans.fit_predict(scaled_features)

# Step 3: Assign labels to clusters based on relative performance
# Analyze the centroids and assign labels
centroids = kmeans.cluster_centers_

C:\Users\neera\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1412: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [11]:



# Labels based on performance levels (adjust if necessary after examining centroids)
cluster_labels = ['very good', 'good', 'average', 'bad']  # These can be changed after viewing cluster distribution
cluster_order = centroids[:, 0].argsort()  # Sort clusters by primary feature (e.g., 'pts')
labels = [cluster_labels[i] for i in cluster_order]

In [12]:
# Map each cluster to its respective label
df['performance_label'] = df['cluster'].map(lambda x: labels[x])

# Output: Show dataset with the new column 'performance_label'
print(df[['player_name', 'pts', 'reb', 'ast', 'net_rating', 'usg_pct', 'ts_pct', 'performance_label']].head())

        player_name   pts  reb  ast  net_rating  usg_pct  ts_pct  \
0  Randy Livingston   3.9  1.5  2.4         0.3    0.169   0.487
1  Gaylon Nickerson   3.8  1.3  0.3         8.9    0.174   0.497
2      George Lynch   8.3  6.4  1.9        -8.2    0.175   0.512
3    George McCloud  10.2  2.8  1.7        -2.7    0.206   0.527
4      George Zidek   2.8  1.7  0.3       -14.1    0.195   0.500

  performance_label
0               bad
1               bad
2              good
3               bad
4         very good

In [13]:
df.head(5)

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season,cluster,performance_label
0,0,Randy Livingston,HOU,22.0,193.04,94.800728,Louisiana State,USA,1996,2,...,2.4,0.3,0.042,0.071,0.169,0.487,0.248,1996-97,2,bad
1,1,Gaylon Nickerson,WAS,28.0,190.50,86.182480,Northwestern Oklahoma,USA,1994,2,...,0.3,8.9,0.030,0.111,0.174,0.497,0.043,1996-97,2,bad
2,2,George Lynch,VAN,26.0,203.20,103.418976,North Carolina,USA,1993,1,...,1.9,-8.2,0.106,0.185,0.175,0.512,0.125,1996-97,3,good
3,3,George McCloud,LAL,30.0,203.20,102.058200,Florida State,USA,1989,1,...,1.7,-2.7,0.027,0.111,0.206,0.527,0.125,1996-97,2,bad
4,4,George Zidek,DEN,23.0,213.36,119.748288,UCLA,USA,1995,1,...,0.3,-14.1,0.102,0.169,0.195,0.500,0.064,1996-97,0,very good

In [14]:
import pickle
pickle.dump(kmeans,open('kmeans.pkl','wb'))